<%- include('partials/head') %>
<body>
    <div id="homepage">
    <header>
        <h1 class="page__title">Crypto<b class="page__title page__title--bold">UNAL</b></h1>
    </header>
    <main>
        <section class="wallets">
            <h1 class="wallets__title">Bienvenido <%= name %></h1> 
            <h1 class="wallets__title">Wallets</h1> 

            <div class="crypto">
                <figure class="crypto__figure">
                    <img
                    src="../public/img/btc.svg"
                    alt=""
                    />
                </figure>
                <div class="crypto__data-conteiner">
                    <div class="crypto__data crypto__data--currency">
                        <p class="crypto__text crypto__text--abbreviation-currency">BTC</p>
                        <p class="crypto__text crypto__text--value">0.00245</p>
                    </div>
                    <div class="crypto__data crypto__data--exchange">
                        <p class="crypto__text crypto__text--abbreviation-currency">COP</p>
                        <p class="crypto__text crypto__text--value">43000</p> 
                    </div>
                </div>            
            </div>
            <div class="crypto">
                <figure class="crypto__figure">
                    <img
                    src="../public/img/eth.svg"
                    alt=""
                    />
                </figure>
                <div class="crypto__data-conteiner">
                    <div class="crypto__data crypto__data--currency">
                        <p class="crypto__text crypto__text--abbreviation-currency">ETH</p>
                        <p class="crypto__text crypto__text--value">0.00245</p>
                    </div>
                    <div class="crypto__data crypto__data--exchange">
                        <p class="crypto__text crypto__text--abbreviation-currency">COP</p>
                        <p class="crypto__text crypto__text--value">43000</p> 
                    </div>
                </div>            
            </div>               
        </section>
    </main>
    <section class="history">
        <h1 class="history__title">Transaction History</h1>
        <div>

        </div>
    </section>
    </div>
    <footer>
        
    </footer>
</body>
<%- include ('partials/footer') %>