<%- include('partials/head') %>
<body>
    <div class="container">        
        <form action="" class="form-box animated fadeInUp" method="POST">

            <h1 class="form-title">Crypto<b class="unal">UNAL<b></h1>
            
            <div class="inner_container">

            <div class="input-wrapper">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="email" name="email" required>
            </div>            
            
            <div class="input-wrapper">
                <i class="fas fa-key"></i>
                <input type="password" name="password" placeholder="password" required>
            </div>   

            
            <button type="submit">
                Login
            </button>
           

            <a href="/register"> I don't have an account </a>             
            
            </div>
            
        </form>        
    </div>
</body>
<%- include ('partials/footer') %>