<%- include('./partials/head') %>
<body>
    <div class="container">        

        <form action="" class="form-box animated fadeInUp" method="POST">

            <h1 class="form-title">Register</h1>

            <div class="inner_container_register">
                <div class="input-wrapper">
                    <i class="fas fa-user"></i>
                    <input type="text" name = "name"
                    placeholder="name" required>
                </div>

                <div class="input-wrapper">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email"
                    placeholder="email" required>
                </div>

                <div class="input-wrapper">
                    <i class="fas fa-key"></i>
                    <input type="password" name="password"
                    placeholder="password" required>
                </div>

                <div class="input-wrapper">
                    <input type="password"  name="password_confirmation" placeholder="confirm password" required>
                </div>           
                
                <div>
                <h1 class="form-title">Wallets</h1>
                <p class="mini no-margin"> Tap to select</p> 
                </div>

                <div>
                <input type="checkbox" class="cryptocurrency" id="Bitcoin" name="bitcoin" disabled>
                <label class="cryptocurrency_label" for="Bitcoin">    
                    Bitcoin            
                </label>

                <input type="checkbox"  class="cryptocurrency" id="Ethereum" name="ethereum">
                <label class="cryptocurrency_label" for="Ethereum">      
                    Ethereum          
                </label>

                </div>

                <button class="register_button" type="submit">
                    Register
                </button>
            </div>
        </form>
    </div>

    <script src="/js/client_registration.js" defer> </script>
</body>
<%- include('./partials/footer') %>

