body {    
    font-family: "Outfit", sans-serif;
    background: #3A3A3A;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    overflow: hidden;     
    height: 100vh;
}

.form-box {        
    text-align: center;
}


.form-title {
    color: #fff;
    /*text-transform: uppercase;*/
}

.input-wrapper {
    display: inline-block;
    position: relative;  
    width: 70%;    
}

.form-box a {
    text-decoration: none;
    color: #94B43B;
}

.input-wrapper i{
    position: absolute;
    left: 10%;
    top: 35%;
    color: #94B43B;
}

.unal {
    color: #94B43B;
}

.mini {
    color: #fff;
    font-size: 13px;
}

.no-margin {
    margin: 0px;
}

.form-box input[type="text"], .form-box input[type="email"] , .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border-bottom: 2px solid #94B43B;
    padding: 7px 5px;
    width: 83.6%;
    outline: none;
    color: white;    
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="email"]:focus, .form-box input[type="password"]:focus {
    width: 87.5%;
    border-color: #ffffff;
}

.form-box button[type="submit"] {
    border: 0;
    background: #94B43B;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #94B43B;
    padding: 14px 40px;
    outline: none;
    width:60%;
    color: white;
    border-radius: 12px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}


input[type='checkbox'] {
    display:none;       
}

label{    
    display: inline-block;    
    margin: 1rem;   
    text-align: center;
    border: 2px solid #94B43B;
    padding: 14px 40px;
    outline: none; 
    color: white;
    border-radius: 12px;
    transition: 0.25s;
    cursor: pointer;
}

label:hover{
    background: #94B43B;    
}

/* checked */
.cryptocurrency:checked + .cryptocurrency_label{   
    color: white;    
    background: #94B43B;
}
/* checked */

/** Homepage **/

#homepage * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

#homepage body {    
    font-family: "Outfit", sans-serif;
    /* background: #3A3A3A; */
}

#homepage main {
    display: flex;
    flex-direction: row;
}

#homepage .page__title {
    color: #3A4F3A;
    text-align: center;
    padding: 20px 0;
}

#homepage .page__title--bold {
    color: #94B43B;
}

#homepage .wallets {
    background: #3A4F3A;
    border-radius: 18px;
    width: calc(50% - 20px);
    margin: 20px 10px 20px 20px;
}

#homepage .wallets__title {
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

#homepage .crypto{
    display: flex;
    flex-direction: row;
}

#homepage .crypto__figure {
    padding: 0 5px 10px 10px;
}

#homepage .crypto__data {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

#homepage .crypto__data--currency {
    color: white;
}

#homepage .crypto__data--exchange {
    color: grey;
}

#homepage .crypto__text {
    margin-right: 5px;
}

#homepage .history {
    background: #94B43B;
    border-radius: 18px;
    width: calc(50% - 20px);
    margin: 20px 20px 20px 10px;
}

#homepage .history__title {
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

#homepage .transaction {
    display: flex;
    flex-direction: row;
}

#homepage .transaction__figure {
    padding: 0 5px 10px 10px;
}

#homepage .transaction__data {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

#homepage .transaction__data {
    color: #3A4F3A;
}

#homepage .transaction__text {
    margin-right: 5px;
}

#homepage .transaction__data-conteiner {
    background: white;
    border-radius: 5px;
    padding: 10px;
}