* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {    
    font-family: "Outfit", sans-serif;
    /* background: #3A3A3A; */
}

main {
    display: flex;
    flex-direction: row;
}

.page__title {
    color: #3A4F3A;
    text-align: center;
    padding: 20px 0;
}

.page__title--bold {
    color: #94B43B;
}

.wallets {
    background: #3A4F3A;
    border-radius: 18px;
    width: calc(50% - 20px);
    margin: 20px 10px 20px 20px;
}

.wallets__title {
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.crypto{
    display: flex;
    flex-direction: row;
}

.crypto__figure {
    padding: 0 5px 10px 10px;
}

.crypto__data {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.crypto__data--currency {
    color: white;
}

.crypto__data--exchange {
    color: grey;
}

.crypto__text {
    margin-right: 5px;
}

.history {
    background: #94B43B;
    border-radius: 18px;
    width: calc(50% - 20px);
    margin: 20px 20px 20px 10px;
}

.history__title {
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.transaction {
    display: flex;
    flex-direction: row;
}

.transaction__figure {
    padding: 0 5px 10px 10px;
}

.transaction__data {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.transaction__data {
    color: #3A4F3A;
}

.transaction__text {
    margin-right: 5px;
}

.transaction__data-conteiner {
    background: white;
    border-radius: 5px;
    padding: 10px;
}