<%- include('partials/head') %>


    <h2><a href="/register"> <%= test %> </a></h2>
    <form action="index.html" class="form-box animated fadeInUp">
        <h1 class="form-title">Crypto<b class="unal">UNAL<b></h1>
        <input type="text" placeholder="email" autofocus>
        <input type="password" placeholder="password">
        <button type="submit">
            Login
        </button>
    </form>
    
<%- include ('partials/footer') %>